<div class="input-group">
    <span class="input-group-btn">
        <button 
            [ngClass]="btnClass"
            (click)="cambiarValor(-5)"
            type="button">
                <i class="fa fa-minus"></i>
        </button>
    </span>
    <input type="number" 
        class="form-control" 
        [ngClass]="{'is-invalid': porcentaje > 100 || porcentaje < 0}"
        placeholder="Porcentaje"
        max="100"
        min="0"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="porcentaje">
    <span class="input-group-btn">
        <button 
            [ngClass]="btnClass"
            (click)="cambiarValor(5)"
            type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
